#### Problem 1: Data Exploration


Answer the following two questions using SQL queries:

- a. What was the Conversion Rate on the website on Day 4? (Conversion Rate is defined as % of sessions that led to a confirmed purchase)
- b. What percentage of Users that accessed the website between the hours of 21:00 and 23:00 used an iPhone (iOS)?

In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [5]:
df_views = pd.read_sql("""SELECT *
                        FROM axxxx
                        WHERE session_id = 'f531f6fde44de30ebe869cc9acdd6039'""", pg_engine)

In [6]:
df_views.sort_values(by='time_of_day')

,day_number,time_of_day,session_id,user_fingerprint,page_type,in_session_pageview_index,confirmation_id
22,4,10:36:17,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,1,None
21,4,10:37:48,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,product,2,None
20,4,10:43:18,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,3,None
19,4,10:52:04,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,4,None
18,4,10:52:32,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,personalDetails,5,None
17,4,10:55:32,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,6,None
16,4,11:01:14,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,confirmation,7,3ed6c7086ab2ac40268bbc3407c19188
15,4,11:01:42,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,8,None
14,4,11:08:38,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,9,None
13,4,11:09:55,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,personalDetails,10,None
12,4,11:21:29,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,11,None
11,4,11:22:36,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,personalDetails,12,None
10,4,11:22:48,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,13,None
9,4,11:27:25,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,other,14,None
8,4,11:27:55,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,15,None
7,4,11:28:09,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,personalDetails,16,None
6,4,11:28:24,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,17,None
5,4,11:33:36,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,18,None
4,4,11:34:25,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,bookingDetails,19,None
3,4,11:34:45,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,personalDetails,20,None
2,4,11:34:59,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,21,None
1,4,11:41:45,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,payment,22,None
0,4,11:46:54,f531f6fde44de30ebe869cc9acdd6039,d7277d4c8958e1407c7770ef612fdd10,confirmation,23,547a4446a48c61fcb366524c60b0114b

In [7]:
df_views.page_type.value_counts()

bookingDetails          8
payment                 6
personalDetails         5
confirmation            2
other                   1
product                 1
Name: page_type, dtype: int64

In [8]:
df_sessions = pd.read_sql("""SELECT *
                        FROM axxxx
                        WHERE id = 'f531f6fde44de30ebe869cc9acdd6039'""", pg_engine)

In [9]:
df_sessions

,id,ua_is_mobile,ua_is_pc,ua_is_tablet,ua_os_family,geoip_city_name,geoip_country_iso_code
0,f531f6fde44de30ebe869cc9acdd6039,False,True,False,Windows,Villemomble,FR

In [10]:
df_sessions.id

0    f531f6fde44de30ebe869cc9acdd6039
Name: id, dtype: object

#### A - What was the Conversion Rate on the website on Day 4? (Conversion Rate is defined as % ofsessions that led to a confirmed purchase)

In [11]:
df_conversion = pd.read_sql("""
                  SELECT 
                    DISTINCT session_id,
                    CASE WHEN COUNT(DISTINCT confirmation_id) > 1 THEN 1 ELSE 0 END as conversion

                 FROM axxxx
                 WHERE day_number = 4
                 GROUP BY session_id
                  """
                  , pg_engine)

In [12]:
df_conversion

                                               session_id  conversion
0      00039c85601d84b95af490c6aa401f65                             0
1      000c0be3bd5afc3e696330437ae2bac5                             0
2      000e232aed60ee3030a3af1eaa45e15e                             0
3      00109e372076dafeb8d83a24596700eb                             0
4      00161dc26bf3cd3f58cd4eeebafbddae                             0
...                                                   ...         ...
24379  fff647ebbb01eaddbfacc111fbdc4b7a                             0
24380  fff7f394ca845fdafb35c31bdac7dd1f                             0
24381  fff84827eb18e76f400ada5915cc962e                             0
24382  fff865e973d767be780461088f5a3506                             0
24383  fffed2dc2d7499a5c6ac6b324ccb724a                             0

[24384 rows x 2 columns]

Session with `confirmation_id` != `None` then **1** (purchase) else **0** (no purchase) in the session

In [13]:
df_conversion[df_conversion.conversion == 1].shape

(27, 2)

In [14]:
df_conversion = pd.read_sql(
            """
                WITH session_conversion AS (
                         SELECT 
                         
                            DISTINCT session_id,
                            CASE WHEN COUNT(DISTINCT confirmation_id) > 0 THEN 1 ELSE 0 END as conversion

                        FROM axxxx
                        WHERE day_number = 4
                        GROUP BY session_id)

                    SELECT 
                          COUNT(DISTINCT session_id) as n_sessions,
                          COUNT(DISTINCT CASE WHEN conversion=1 THEN session_id ELSE NULL END) as n_purchase,
                          COUNT(DISTINCT CASE WHEN conversion=1 THEN session_id ELSE NULL END) * 1.0 /
                          COUNT(DISTINCT session_id) * 100 as conversion_rate

                        FROM session_conversion
                    """
                , pg_engine)

In [15]:
df_conversion

   n_sessions  n_purchase  conversion_rate
0       24384         949         3.891896

Conversion rate = 0.110728% on day 4

#### B- What percentage of Users that accessed the website between the hours of 21:00 and 23:00 used an iPhone (iOS)?

In [16]:
df = pd.read_sql("""SELECT *
                        FROM axxxx as views 
                        LEFT JOIN axxxx as sessions ON views.session_id = sessions.id
                        """, pg_engine)

In [17]:
df.head()

,day_number,time_of_day,session_id,user_fingerprint,page_type,in_session_pageview_index,confirmation_id,id,ua_is_mobile,ua_is_pc,ua_is_tablet,ua_os_family,geoip_city_name,geoip_country_iso_code
0,1,09:46:57,fd8c8ea29509d12dc65375679ba9292a,17863d7244580bb85564632602beec92,home,1,None,fd8c8ea29509d12dc65375679ba9292a,False,True,False,Windows,Spaarndam,NL
1,1,10:04:27,b12d2ddcb2cb981e3408404ef9734a49,84ed8f6d75db89f7ce9bd045107bdc8c,product,1,None,b12d2ddcb2cb981e3408404ef9734a49,True,False,False,iOS,None,ES
2,1,11:26:31,ec0693649c1c5f5cc7bd2d92038421ac,475b3f7971aa14c33784d0943857b883,product,1,None,ec0693649c1c5f5cc7bd2d92038421ac,False,True,False,Mac OS X,Nijmegen,NL
3,1,08:53:38,246981ae5f6ee37a62e7a1fc2718c818,4bdebeb538c3c9284b81be8c90ac1f35,product,1,None,246981ae5f6ee37a62e7a1fc2718c818,True,False,False,iOS,Bloemendaal,NL
4,1,08:54:12,9a4eb71faabb4607aa3cd6af282177d8,473ba2920a88f04e02430b3f6aafb69d,product,1,None,9a4eb71faabb4607aa3cd6af282177d8,False,True,False,Mac OS X,Gentofte Municipality,DK

In [18]:
df.ua_is_mobile.value_counts()

True     445376
False    342289
Name: ua_is_mobile, dtype: int64

In [19]:
df.ua_os_family.value_counts()

Android                 270686
Windows                 192902
iOS                     190185
Mac OS X                118890
Ubuntu                    9281
Chrome OS                 2941
Linux                     2607
Other                       64
Windows Phone               41
Fedora                      38
Tizen                       23
KaiOS                        5
FreeBSD                      1
Chromecast                   1
Name: ua_os_family, dtype: int64

In [20]:
df = pd.read_sql("""SELECT 
                            COUNT(DISTINCT user_fingerprint) as n_users,
                            COUNT(DISTINCT CASE WHEN ((ua_is_mobile IS TRUE) AND (ua_is_tablet IS NOT TRUE)
                                            AND (ua_os_family = 'iOS')) THEN user_fingerprint ELSE NULL END) as n_users_iphone
                                            
                        FROM axxxx as views 
                        LEFT JOIN axxxx as sessions ON views.session_id = sessions.id
                        WHERE  time_of_day::time >= '21:00' AND time_of_day::time <= '23:00';
                """, pg_engine)

In [21]:
df

   n_users  n_users_iphone
0    35017           10763

In [22]:
df = pd.read_sql("""SELECT 
                            COUNT(DISTINCT CASE WHEN ((ua_is_mobile IS TRUE) AND (ua_is_tablet IS NOT TRUE)
                                            AND (ua_os_family = 'iOS')) THEN user_fingerprint ELSE NULL END) * 1.0 /
                            COUNT(DISTINCT user_fingerprint) * 100 as users_iphone_pct
                                            
                        FROM axxxx as views 
                        LEFT JOIN axxxx as sessions ON views.session_id = sessions.id
                        WHERE  time_of_day::time >= '21:00' AND time_of_day::time <= '23:00';
                """, pg_engine)

In [23]:
df

   users_iphone_pct
0         30.736499

In [26]:
df = pd.read_sql("""

                WITH session_conversion AS (
                         SELECT 
                         
                            DISTINCT session_id,
                            COUNT(DISTINCT confirmation_id) as n_purchases,
                            CASE WHEN COUNT(DISTINCT confirmation_id) > 0 THEN 1 ELSE 0 END as conversion
                            
                        FROM axxxx
                        GROUP BY session_id
                        )
                        
                        
                SELECT  views.day_number,
                        views.time_of_day,
                        views.session_id::text,
                        views.user_fingerprint::text,
                        views.page_type::text,
                        views.in_session_pageview_index,
                        views.confirmation_id::text,
                        
                        sessions.ua_is_mobile::bool,
                        sessions.ua_is_pc::bool,
                        sessions.ua_is_tablet::bool,
                        sessions.ua_os_family::text,
                        sessions.geoip_city_name::text,
                        sessions.geoip_country_iso_code,
                        
                        session_conversion.n_purchases,
                        session_conversion.conversion
                        
                        
                FROM axxxx AS views
                LEFT JOIN axxxx AS sessions ON views.session_id = sessions.id
                LEFT JOIN axxxx ON views.session_id = session_conversion.session_id 
                
                """, pg_engine)

In [27]:
df

,day_number,time_of_day,session_id,user_fingerprint,page_type,in_session_pageview_index,confirmation_id,ua_is_mobile,ua_is_pc,ua_is_tablet,ua_os_family,geoip_city_name,geoip_country_iso_code,n_purchases,conversion
0,7,00:22:31,0000120ba32a2ae2d8168e31de30e8f6,5fd5ffc875ccda6ed1d5021104cc22a4,location,1,None,True,False,False,Android,None,FR,0,0
1,8,23:00:07,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,confirmation,6,9a179665a835fbdbced75d04303eebe0,True,False,False,iOS,Emmeloord,NL,1,1
2,8,22:53:39,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,confirmation,5,9a179665a835fbdbced75d04303eebe0,True,False,False,iOS,Emmeloord,NL,1,1
3,8,22:53:01,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,payment,4,None,True,False,False,iOS,Emmeloord,NL,1,1
4,8,22:52:07,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,personalDetails,3,None,True,False,False,iOS,Emmeloord,NL,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787660,14,00:46:54,ffff6f69090a9090ee749876971c6637,18f6d2057a68e46226f335b9c112bf5b,product,1,None,True,False,False,Android,Moncalieri,IT,0,0
787661,14,15:59:20,ffff8c77942356d9d6d3e93dbfcf80b8,75e139f3a2bc42a496981e8e40761fd4,bookingDetails,2,None,True,False,False,Android,Tampa,US,0,0
787662,14,15:53:25,ffff8c77942356d9d6d3e93dbfcf80b8,75e139f3a2bc42a496981e8e40761fd4,bookingDetails,1,None,True,False,False,Android,Tampa,US,0,0
787663,3,06:24:18,ffffa065644f0b7fef64fe9a183e6833,bd53c1a438702ced028cba29073590b8,product,2,None,False,True,False,Ubuntu,New York,US,0,0
787664,3,06:24:15,ffffa065644f0b7fef64fe9a183e6833,bd53c1a438702ced028cba29073590b8,product,1,None,False,True,False,Ubuntu,New York,US,0,0

In [29]:
df[df.session_id=='0000259ba8c868c02e0fe1fa85980f0c'].sort_values(by='time_of_day')

,day_number,time_of_day,session_id,user_fingerprint,page_type,in_session_pageview_index,confirmation_id,ua_is_mobile,ua_is_pc,ua_is_tablet,ua_os_family,geoip_city_name,geoip_country_iso_code,n_purchases,conversion
6,8,22:49:09,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,product,1,None,True,False,False,iOS,Emmeloord,NL,1,1
5,8,22:49:44,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,bookingDetails,2,None,True,False,False,iOS,Emmeloord,NL,1,1
4,8,22:52:07,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,personalDetails,3,None,True,False,False,iOS,Emmeloord,NL,1,1
3,8,22:53:01,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,payment,4,None,True,False,False,iOS,Emmeloord,NL,1,1
2,8,22:53:39,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,confirmation,5,9a179665a835fbdbced75d04303eebe0,True,False,False,iOS,Emmeloord,NL,1,1
1,8,23:00:07,0000259ba8c868c02e0fe1fa85980f0c,1ef4419f3380848edf8487c6713451b3,confirmation,6,9a179665a835fbdbced75d04303eebe0,True,False,False,iOS,Emmeloord,NL,1,1

In [ ]:
df.to_parquet('data/user_session_views.parquet', engine='fastparquet')